version: '3.0'

services:
  server:
    container_name: server
    build: 
      context: .
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 5000:5000
      - 9229:9229
    depends_on:
      - postgres
    command: npm run start:dev
    restart: always
  postgres:
    container_name: postgres
    image: postgres:15
    env_file:
      - .env
    environment:
      - PG_DATA=/var/lib/postgresql/data
    restart: always
    ports:
      - 5432:5432
    volumes:
      - $HOME/docker/volumes/postgres/:/var/lib/postgresql/data
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:6
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=dev@mail.com
      - PGADMIN_DEFAULT_PASSWORD=password
      - PGADMIN_LISTEN_PORT=80
    ports:
      - 5050:80
    volumes:
      - $HOME/docker/volumes/pgadmin/:/var/lib/pgadmin
    depends_on:
      - postgres

